<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="/css/signin.css" rel="stylesheet">
    <script src="ie-emulation-modes-warning.js"></script>
</head>

<body>

    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading">OAuth</h2>

            <a href="/login" class="btn btn-lg btn-primary btn-block" type="submit">Local Login </a>
            <a href="/signup" class="btn btn-lg btn-primary btn-block" type="submit">Localsign up </a>
            <a href="/auth/facebook" class="btn btn-lg btn-primary btn-block" type="submit">facebook Login </a>
            <a href="/auth/google" class="btn btn-lg btn-primary btn-block" type="submit">Google plus Login </a>
        </form>

    </div>

    <script src="css/ie10-viewport-bug-workaround.js"></script>
</body>

</html>