<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="/css/signin.css" rel="stylesheet">
    <script src="ie-emulation-modes-warning.js"></script>
</head>

<body>

    <div class="container">

        <form action="/login" class="form-signin" method="post">
            <% if( message.length >0 ){ %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>
                    <h2 class="form-signin-heading">LOG IN </h2>
                    <label for="inputEmail">Email address</label>

                    <input type="email" name="email" id="inputEmail2" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword2" class="form-control" placeholder="Password" required>
                    <div class="checkbox">
                        <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
                    </div>
                    <button class="btn btn-warning btn-lg" type="submit">login</button><br></br>
                    <a href="/signup">Sign up</a>
        </form>


    </div>

    <script src="css/ie10-viewport-bug-workaround.js"></script>
</body>

</html>