<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="/css/signin.css" rel="stylesheet">
    <script src="ie-emulation-modes-warning.js"></script>
</head>

<body>

    <div class="container">
        <h4>Your Local Profile</h4>
        <a href="/logout"><button class="btn btn-warning" type="submit">Log out</button></a>
        <hr />
        <p><strong>id:</strong>
            <%= user._id %>
        </p><br>
        <p><strong>Name:</strong>
            <%= user.local.username %>
        </p><br>
        <p><strong>Pasword:</strong>
            <%= user.local.password %>
        </p><br>
        <hr />

        <h4>Your Facebook details</h4>
        <hr />
        <p>
            <strong>id</strong>:
            <%= user.facebook.id %><br>
                <strong>token</strong>:
                <%= user.facebook.token %><br>
                    <strong>email</strong>:
                    <%= user.facebook.email %><br>
                        <strong>name</strong>:
                        <%= user.facebook.name %>
        </p>

        <h4>Your Google plus details</h4>
        <hr />
        <p>
            <strong>id</strong>:
            <%= user.google.id %><br>
                <strong>token</strong>:
                <%= user.google.token %><br>
                    <strong>email</strong>:
                    <%= user.google.email %><br>
                        <strong>name</strong>:
                        <%= user.google.name %>
        </p>



    </div>

    <script src="css/ie10-viewport-bug-workaround.js"></script>
</body>

</html>